#raiz, 
#cate, 
#artistas,
#social, 
.mas, 
#exclusiva, 
#videos, 
#mes, 
#Spotify, 
#YTM, 
#SoundC, 
#Deezer, 
#ClaroM,
#YandexM,
#Anghami,
#AmazonM,
#DeezerUP,
#SoundCUP,
#YTUP,
#spotifyUP,
#ClaroMUP,
#AmazonMUP,
#conciertos,
#Discord{
    cursor: pointer;
}

#DeezerUP h4::after{
    content: "JUNIO 2022";
}
#SoundCUP h4::after{
    content: "La academia 2022";
}
#YTUP h4::after{
    content: "Mon Amour Remix - Zzoilo & Aitana (Letra/Lyrics)";
}
#spotifyUP h4::after{
    content: "La academia 2022";
}
#ClaroMUP h4::after{
    content: "Andando De Noche";
}
#AmazonMUP h4::after{
    content: "CLÁSICAS DE BANDA";
}
