#raiz,
#cate,
#artistas,
#social,
.mas,
#exclusiva,
#videos,
#mes,
#Spotify,
#YTM,
#SoundC,
#Deezer,
#ClaroM,
#YandexM,
#Anghami,
#AmazonM,
#DeezerUP,
#SoundCUP,
#YTUP,
#spotifyUP
 {
    cursor: pointer;
}

/*#DeezerUP h4::after{
    content: "JUNIO 2022";
}*/
#SoundCUP h4::after {
    content: "FEBRERO 2K23: ÉXITOS Y ACTUALIDAD 2K23";
}

#YTUP h4::after {
    content: "Tu Recuerdo - Wisin, Emilia, Lyanno (Letra / Lyric)";
}

#spotifyUP h4::after {
    content: "FEBRERO 2K23: ÉXITOS Y ACTUALIDAD 2K23";
}
